.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;
  background: rgba(0, 0, 0, 0.9);
  border-bottom: 1px solid black;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.logo-text {
  margin: 0;
  font-size: 20px;
  color: white;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  color: #b38bff;
}